{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" enctype = "multipart/form-data"><br><br>
  <i class="fa fa-plus-circle" aria-hidden="true"> <input type = "file" name = "file" onchange="previewImage(event)"/></i><br><br>
  <div>
    <img id="image-preview"/>
  </div>
  <br>
  <div class="field">
    <label class="label">Caption</label>
    <div class="control">
      <input class="input is-primary" value="{{ request.form['caption'] }}" type="text" name="caption" id="caption" placeholder="Primary input">
    </div>
  </div>
  <textarea class="textarea is-primary" name="hashtags" id="hashtags" placeholder="#loved #mood">{{ request.form['hashtags'] }}</textarea>
  <div class="control">
    <input class="button is-primary"type="submit" value="Post">
  </div>
</form>
{% endblock %}
